html {
  font-family: Verdana, sans-serif;
  color: #232f36;
}

header {
  position: relative;
  display: block;
  text-align: center;
}

.transparent-img {
  background-image: url("../images/boys-with-dog.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

.blur-effect {
  background: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .4));
}

.shadow {
  box-shadow: 0 3px 5px;
  z-index: 999;
}

.btn {
  background-color: #232f36;
  color: #fefefe;
  border-radius: 4px;
  border: 2px solid #232f36;
}

.btn-donate {
  background-color: #ff8f00;
  color: #232f36;
  border-radius: 4px;
  border: 2px solid #ff8f00;
}

.current {
  background-color: #fefefe;
  color: #232f36;
  border-radius: 4px;
  border: 2px solid #fefefe;
}

.staff dl {
  margin: 0 0 1rem;
}

.staff dt {
  display: block;
  width: 100%;
}

.staff dd {
  display: block;
  width: 100%;
}

.dog-bios dl {
  margin: 0 0 1rem;
}

.dog-bios dt {
  display: inline-block;
  width: 45%;
}

.dog-bios dd {
  display: inline-block;
  margin: 0;
  width: 45%;
}

.absolute {
  bottom: 1em;
  left: 0;
  width: 100%;
}

.absolute2 {
  width: 100%;
}

.transparent-white {
  text-align: center;
  background-color: rgba(255, 255, 255, .75);
  color: #232f36;
}

.table-icon {
  max-height: 3em;
}

.btn:hover {
  background-color: #3f5866;
  color: #fefefe;
  border: 2px solid #3f5866;
}

footer {
  background-color: #232f36;
  color: #fefefe;
}

.icon {
  background-color: #232f36;
  color: #fefefe;
  display: inline-block;
}

.social-media-link {
  background-color: #232f36;
  color: #232f36;
  display: inline-block;
  text-decoration: none;
  width: 64px;
  height: 64px;
}

.social-media-link-icon {
  background-color: #232f36;
  color: #fefefe;
  display: inline-block;
  text-decoration: none;
}

.social-media-link-icon:hover {
  background-color: #232f36;
  color: #ff8f00;
  display: inline-block;
  text-decoration: none;
}

input,
textarea,
select,
[type="radio"] + label::before,
[type="checkbox"] + label::before {
  border: 2px solid #ff8f00;
}

fieldset {
  border-top: none;
}

table {
  border-collapse: collapse;
}

.table-width {
  min-width: 40em;
}

.inlineblock {
  display: inline-block;
  width: 32.7%;
}

.phonelabel,
.date,
.emaillabel,
.animalidlabel,
.addresslabel,
.cityaddressinput,
.provinceaddressinput,
.address-hidden,
.postalcode-hidden,
.postalcode {
  display: inline-block;
  width: 32.7%;
}

.phonetextbox,
.dateinput,
.emailtextbox,
.animalidtextbox,
.streetaddressinput {
  display: inline-block;
  width: 66%;
}

.question,
.opinionlabel {
  display: inline-block;
  width: 46%;
}

.answers {
  display: inline-block;
  width: 25%;
}

.opinionanswer {
  display: inline-block;
  width: 50%;
  height: 10em;
}

.card-width {
  max-width: 14em;
  max-height: 27em;
}

@media only screen and (min-width: 38em) {

  .logo-left {
    text-align: left;
  }

  nav {
    text-align: right;
  }

}
