html {
  font-family: Verdana, sans-serif;
  color: #232f36;
}

header {
  position: relative;
  display: block;
  text-align: center;
}

.transparent-img {
  background-image: url("../images/boys-with-dog.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

.blur-effect {
  background: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .4));
}

.shadow {
  box-shadow: 0 3px 5px;
  z-index: 999;
}

.btn {
  background-color: #232f36;
  color: #fefefe;
  border-radius: 4px;
  border: 2px solid #232f36;
}

.btn-donate {
  background-color: #ff8f00;
  color: #232f36;
  border-radius: 4px;
  border: 2px solid #ff8f00;
}

.current {
  background-color: #fefefe;
  color: #232f36;
  border-radius: 4px;
  border: 2px solid #fefefe;
}

.staff dl {
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.staff dt {
  display: block;
  width: 100%;
}

.staff dd {
  display: block;
  width: 100%;
}

.dog-bios dl {
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.dog-bios dt {
  display: inline-block;
  width: 45%;
}

.dog-bios dd {
  display: inline-block;
  margin: 0;
  width: 45%;
}

.banner {
  text-align: center;
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 3em;
  left: auto;
}

.transparent-white {
  text-align: center;
  background-color: rgba(255, 255, 255, .75);
  color: #232f36;
}

.table-icon {
  max-height: 3em;
}

.logo {
  /* max-height: 3em; */
}

.btn:hover {
  background-color: #3f5866;
  color: #fefefe;
  border: 2px solid #3f5866;
}

footer {
  background-color: #232f36;
  color: #fefefe;
}

input,
textarea,
select,
[type="radio"] + label::before,
[type="checkbox"] + label::before {
  border: 2px solid #ff8f00;
}

fieldset {
  border-top: none;
}

.textbox {
  height: 10em;
}

table {
  border-collapse: collapse;
}

.table-width {
  min-width: 40em;
}

.card-width {
  max-width: 14em;
  max-height: 27em;
}

@media only screen and (min-width: 38em) {

  .logo-left {
    text-align: left;
  }

  nav {
    text-align: right;
  }

}
