html {
  font-family: Verdana, sans-serif;
  color: #232f36;
}

header {
  position: relative;
  display: block;
}

.transparent-background {

}

nav li {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

a {
  color: #232f36;
  display: block;
  text-decoration: none;
}

.btn {
  background-color: #232f36;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #232f36;
}

.btn-donate {
  background-color: #ff8f00;
  color: #232f36;
  border-radius: 4px;
  border: 2px solid #232f36;
}
.current {
  background-color: #fefefe;
  color: #232f36;
  border-radius: 4px;
  border: 2px solid #232f36;
}

.banner {
  text-align: center;
  position: relative;
}

dl {
  margin: 0 0 1rem;
  padding-top: 1rem;
  font-size: .875rem;
}

dt {
  display: inline-block;
  width: 45%;
}

dd {
  display: inline-block;
  margin: 0;
  width: 45%;
}

.banner-content {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-height: 500px;
  overflow: hidden;
}

.transparent-white {
  background-color: rgba(255, 255, 255, .75);
  color: #232f36;
  border-radius: 10px;
}

.table-icon {
  max-height: 3em;
}

.logo {
  /* max-height: 3em; */
}

.btn:hover {
  background-color: #003354;
  color: #fff;
}

.banner-text {
  position: absolute;
  bottom: .5em;
  left: 20%;
}

footer {
  background-color: #232f36;
  color: #fefefe;
}

input,
textarea,
select,
[type="radio"] + label::before,
[type="checkbox"] + label::before {
  border: 2px solid #232f36;
}

fieldset {
  border-top: none;
}

.textbox {
  height: 10em;
}

table {
  border-collapse: collapse;
}

.table-width {
  min-width: 40em;
}

.card-width {
  max-width: 14em;
  max-height: 27em;
}

@media only screen and (min-width: 38em) {

  .logo-left {
    text-align: left;
  }

  nav {
    text-align: right;
  }

  nav li {
    width: auto;
  }
